---
import { client } from '../../tina/__generated__/client'
import Layout from "../layouts/Layout.astro";
import {TinaMarkdown} from "tinacms/dist/rich-text";
const data = await client.queries.aboutUs({ relativePath: 'aboutUs.md' })
---

<Layout title="InkHouse - O nás">
    <section class="section">
        <div class="content">
            <h1 class="title">O nás</h1>
            <TinaMarkdown content={data.data.aboutUs.introText} />
            <TinaMarkdown content={data.data.aboutUs.address} />
            <TinaMarkdown content={data.data.aboutUs.searchIntro} />
            <TinaMarkdown content={data.data.aboutUs.searchInfo} />
            <TinaMarkdown content={data.data.aboutUs.searchContact} />
        </div>
        <img class="contentBg" src="/about-bg.jpeg" />
    </section>
</Layout>